{% extends 'layout.html.twig' %}

{% block body %}
	{% if isCoursesList %}
	<h1>Liste des formations</h1>
<div class="container">
		{% for product in products %}
			<div class="courseImageTitle">
             <div style="height:100px; background-image: url('{{ asset('uploads/')}}{{ product.image }}'); background-size='100%';background-repeat: no-repeat; background-position: center;"></div>

    			
    			<h2><a class="actionLink" href="{{ path('display_course', { 'idProduct': product.idProduct }) }}">{{ product.title }}</a></h2>
    			
			</div>

			<br>
			<div class="summaryWrapper">
			{{product.summary | raw}}
			</div>
			
			<br>
    <div class="row">
        <div class="col-xs-12">
            <form action="/your-server-side-code" method="POST">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_TNNrshUHsHUrIfOTaouoRwVW"
                        data-amount="4700"
                        data-name="Paiement par CB"
                        data-description="Widget"
                        data-locale="auto"
                        data-zip-code="true"
                        data-currency="eur">
                </script>
            </form>
        </div>
    </div>
		{% endfor%}
	{% else %}
		<div class="courseImageTitle">
    			 <div style="height:100px; background-image: url('{{ asset('uploads/')}}{{ products.image }}'); background-size='100%';background-repeat: no-repeat; background-position: center;"></div>
    			<h2>{{products.title}}</h2>	
		</div>
	{%if products.isTutorial %}
	<p>Ce cours est un tutoriel, vous avez juste à regarder la vidéo explicative ! Si vous souhaitez obtenir le code source, celui-ci est disponible à l'achat au bas de la page.</p>
	{% else %}
		<div>
		{{products.summary | raw}}
		</div>

		{% for chapter in chapters %}

		<p class="chapterTitle">
           {{ chapter.ChapterNumber }} - {{ chapter.ChapterTitle }}
        </p>

        <p>
        	{{chapter.content | raw}}
        </p>
		{% endfor %}
    <div class="row">
        <div class="col-xs-12">
            <form action="/your-server-side-code" method="POST">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_TNNrshUHsHUrIfOTaouoRwVW"
                        data-amount="4700"
                        data-name="Paiement par CB"
                        data-description="Widget"
                        data-locale="auto"
                        data-zip-code="true"
                        data-currency="eur">
                </script>
            </form>
        </div>
    </div>
	{% endif %}
	{% endif %}
</div>

{% endblock %}