{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Édition du produit</h1>
<div class="container">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Éditer" />
    {{ form_end(edit_form) }}
</div>
    <ul>
        <li>
            <a href="{{ path('product_index') }}">Retour</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
<script>
    CKEDITOR.replace( 'form[summary]' );
</script>  
{% endblock %}