{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Liste des produits</h1>

    <table>
        <thead>
            <tr>
            <th>Titre</th>
                <th>Image</th>
                <th>Sommaire</th>
                <th>Mots clés</th>
                <th>Tutoriel</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'idProduct': product.idProduct }) }}">{{ product.title }}</a></td>
                <td>{{ product.image }}</td>
                <td>{{ product.summary }}</td>
                <td>{{ product.keywords }}</td>
                <td>{% if product.isTutorial %}Oui{% else %}Non{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('product_show', { 'idProduct': product.idProduct }) }}">Voir le détail</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit', { 'idProduct': product.idProduct }) }}">Éditer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_new') }}">Créer un nouveau produit</a>
        </li>
    </ul>
{% endblock %}
