{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Liste des formations</h1>

<div class="container">
  <div class="row">
    <div class="col">
        Titre
    </div>
    <div class="col">
        Image
    </div>
    <div class="col">
        Mots clés
    </div>
    <div class="col">
        Tutoriel
    </div>
    <div class="col">
        Actions
    </div>

    <div class="w-100"></div>

     {% for product in products %}
     <div class="col">
    <a class="actionLink" href="{{ path('product_show', { 'idProduct': product.idProduct }) }}">{{ product.title }}</a>
    </div>
         <div class="col">
    <img src="{{ asset('uploads/')}}{{ product.image }}" height='100' width='100'/>
    </div>
         <div class="col">
    {{ product.keywords }}
    </div>
         <div class="col">
    {% if product.isTutorial %}Oui{% else %}Non{% endif %}
    </div>
         <div class="col">
    <ul>
                        <li>
                            <a class="actionLink" href="{{ path('product_show', { 'idProduct': product.idProduct }) }}"><i class="fa fa-info"></i></a>
                        </li>
                        <li>
                            <a class="actionLink" href="{{ path('product_edit', { 'idProduct': product.idProduct }) }}"><i class="fa fa-pencil"></i></a>
                        </li>
                    </ul>
    </div>
    <div class="w-100"></div>
    {% endfor %}
  </div>
</div>

    <ul>
        <li>
            <a class="actionLink actionButton" href="{{ path('product_new') }}"><i class="fa fa-plus"></i>Nouvelle formation</a>
        </li>
    </ul>
{% endblock %}
