{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Détail du produit</h1>

    <table>
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ product.title }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ product.image }}</td>
            </tr>
            
            <tr>
                <th>Sommaire</th>
                <td>{{ product.summary }}</td>
            </tr>
            <tr>
                <th>Mots clés</th>
                <td>{{ product.keywords }}</td>
            </tr>
            <tr>
                <th>Tutoriel</th>
                <td>{% if product.isTutorial %}Oui{% else %}Non{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
    {% if product.isTutorial %}
    {% else %}
        
        <li>
            <a href="{{ path('chapter_new',{'idProd': product.idProduct , 'ProdName': product.title}) }}">Créer un chapitre pour ce cours</a>
        </li> 
        {#
         <form action="{{ path('chapter_new',{'idProd': product.idProduct  })}}" method="post">
            <button type="submit">Créer un chapitre pour ce cours</button>
        </form> #}

        {% endif %}
        <li>
            <a href="{{ path('product_index') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('product_edit', { 'idProduct': product.idProduct }) }}">Éditer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
