{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Détail du produit</h1>

<div class="container">


                <span>Titre</span>
                <p>{{ product.title }}</p>

</br>
                <span>Image</span>
                <img src="{{ asset('uploads/')}}{{ product.image }}" height='100' width='100'/>

</br>
<span>Sommaire</span>        
    <div class="IsFromCKEditor">{{ product.summary }}</div>

</br>
    <span>Mots clés</span>
    <p>{{ product.keywords }}</p>

</br>
    <span>Tutoriel</span>
    <p>{% if product.isTutorial %}Oui{% else %}Non{% endif %}</p>

</br>

    <ul>
    {% if product.isTutorial %}
    {% else %}
        {%if chapters|length > 0 %}
            <h3>Chapitres du cours :</h3>
        {% endif %}

        {% for chapter in chapters %}   
            <p class="chapter">
                <a class="actionLink" href="{{ path('chapter_show', {'idChapter': chapter.idChapter}) }}">
                   {{ chapter.ChapterNumber }} - {{ chapter.ChapterTitle }}</a>
            </p>
        {% endfor %}

        <li>
            <a class="actionLink actionButton" href="{{ path('chapter_new',{'idProd': product.idProduct , 'ProdName': product.title}) }}"><i class="fa fa-plus"></i>Nouveau chapitre</a>
        </li> 

    {% endif %}
        <li>
            <a class="actionLink" href="{{ path('product_index') }}">Retour</a>
        </li>
        <li>
            <a class="actionLink actionButton" href="{{ path('product_edit', { 'idProduct': product.idProduct }) }}"><i class="fa fa-pencil"></i>Éditer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="actionLink actionButton" type="submit"><i class="fa fa-trash"></i>Supprimer</input>
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
