{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Détail de la formation</h1>

    <div class="container">



        <h1>{{ product.title }}</h1>

        </br>
        <img src="{{ asset('uploads/')}}{{ product.image }}" width='100%'/>

        </br>
        <h3>Sommaire</h3>  
        {{ product.summary | raw }}

        </br>
        <h3>Mots clés</h3>
        <p>{{ product.keywords }}</p>

        </br>


        <div>
            {% if product.isTutorial %}
                <h3>Tutoriel (gratuit)</h3>
            {% else %}
                <h3>Cours payant</h3>
                <p>Cours accessible par abonnement ou achat à l'unité</p>
            {% endif %}
        </div>

        </br>

        <ul>
            {% if product.isTutorial %}
            {% else %}
                {%if chapters|length > 0%}<h3>Chapitres du cours :</h3>{% endif %}
                {% for chapter in chapters %}   
                    <p class="chapter">
                        <a class="actionLink" href="{{ path('chapter_show', {'idChapter': chapter.idChapter}) }}">
                            {{ chapter.ChapterNumber }} - {{ chapter.ChapterTitle }}</a>
                    </p>
                {% endfor %}   
                <li>
                    <a class="actionLink" href="{{ path('chapter_new',{'idProd': product.idProduct , 'ProdName': product.title}) }}"><i class="fa fa-plus"></i></a>
                </li> 

            {% endif %}
            <li>
                <a class="actionLink" href="{{ path('product_index') }}">Retour</a>
            </li>
            <li>
                <a class="actionLink" href="{{ path('product_edit', { 'idProduct': product.idProduct }) }}"><i class="fa fa-pencil"></i></a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input class="actionLink" type="submit"><i class="fa fa-trash"></i></input>
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
    {% endblock %}
