{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Address</th>
                <th>Additionaladdress</th>
                <th>Zipcode</th>
                <th>City</th>
                <th>Country</th>
                <th>Email</th>
                <th>Password</th>
                <th>Deactivationdate</th>
                <th>Iduser</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'idUser': user.idUser }) }}">{{ user.firstname }}</a></td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.additionalAddress }}</td>
                <td>{{ user.zipCode }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.country }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.deactivationDate }}</td>
                <td>{{ user.idUser }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'idUser': user.idUser }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'idUser': user.idUser }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
