{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Votre profil</h1>

<div class="container">

                <span>Prénom</span>
                <p>{{ user.firstname }}</p>

                <span>Nom de famille</span>
                <p>{{ user.lastname }}</p>

                <span>Adresse</span>
                <p>{{ user.address }}</p>

                 <span>Complément d'adresse</span>
                <p>{{ user.additionalAddress }}</p>

                <span>Code postal</span>
                <p>{{ user.zipCode }}</p>

                 <span>Ville</span>
                <p>{{ user.city }}</p>

                <span>Pays</span>
                <p>{{ user.country }}</p>

                <span>Email</span>
                <p>{{ user.email }}</p>

                <span>Mot de passe</span>
                <p>{{ user.password }}</p>

<ul>
<li>
            <a class="actionLink" href="{{ path('user_edit', { 'idUser': user.idUser }) }}">
            <i class="fa fa-pencil>Éditer</i>
            </a>
            </li>
       <li>
            {{ form_start(delete_form) }}
                <input class="actionLink actionButton" type="submit"><i class="fa fa-trash"> Supprimer</i></input>
            {{ form_end(delete_form) }}
            </li>
            </ul>

</div>

   
{% endblock %}
