{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Liste des chapitres</h1>
<div class="container">
  <div class="row">
    <div class="col">
        Numéro de chapitre
    </div>
    <div class="col">
        Titre
    </div>
    <div class="col">
        Actions
    </div>
     <div class="w-100"></div>

        {% for chapter in chapters %}
        <div class="col">
       <a class="actionLink" href="{{ path('chapter_show', { 'idChapter': chapter.idChapter }) }}">{{ chapter.chapterNumber }}</a>
         </div>

    <div class="col">
    {{ chapter.chapterTitle }}
    </div>

            <div class="col">
                    <ul>
                        <li>
                            <a class="actionLink" href="{{ path('chapter_show', { 'idChapter': chapter.idChapter }) }}"><i class="fa fa-info"></i></a>
                        </li>
                        <li>
                            <a class="actionLink" href="{{ path('chapter_edit', { 'idChapter': chapter.idChapter }) }}"><i class="fa fa-pencil"></i></a>
                        </li>
                    </ul>
                </div>
            
            <div class="w-100"></div>
        {% endfor %}
        </div>
        

    <ul>
        <li>
            <a class="actionLink" href="{{ path('chapter_new') }}">Créer un nouveau chapitre</a>
        </li>
    </ul>
{% endblock %}
