{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Chapitre</h1>

    <div class="container">
        <h2>{{ chapter.chapterNumber }}. {{ chapter.chapterTitle }}</h2>
        </br>

        <p>{{ chapter.content |raw }}</p>
        </br>
        <ul>
            <li>
                <a class="actionLink actionButton" href="{{ path('chapter_index') }}">Retour</a>
            </li>
            <li>
                <a class="actionLink actionButton" href="{{ path('chapter_edit', { 'idChapter': chapter.idChapter }) }}"><i class="fa fa-pencil">Éditer</i></a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input class="actionLink actionButton" type="submit"><i class="fa fa-trash">Supprimer</input>
                    {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
