{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Chapitre</h1>

    <table>
        <tbody>
            <tr>
                <th>Numéro du chapitre</th>
                <td>{{ chapter.chapterNumber }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ chapter.chapterTitle }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ chapter.content }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="actionLink" href="{{ path('chapter_index') }}">Retour</a>
        </li>
        <li>
            <a class="actionLink" href="{{ path('chapter_edit', { 'idChapter': chapter.idChapter }) }}">Éditer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="actionLink" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
